{% extends 'buscador/base.html.twig' %}

{% block title %}
<title>Busqueda de datos</title>
{% endblock %}

{% block titular %}
<p class="font-serif text-5xl">Búsqueda de datos</p>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <form class="form">
          <label>Buscar por fecha<input type="date"></label>
          <label>Buscar por ubicación<input type="text"></label>

          <button type="submit" class="btn btn-secondary">Buscar</button>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a href="/busqueda/mapas_fotos">
            <i class="nc-icon nc-bank"></i>
            <p>Mapas y fotografías</p>
          </a>
        </li>
        <li class="active">
          <a href="/busqueda/datos">
            <i class="nc-icon nc-diamond"></i>
            <p>Datos y gráficos</p>
          </a>
        </li>
      </ul>
    </div>
</div>
{% endblock %}