{% extends 'buscador/base.html.twig' %}

{% block title %}
<title>Búsqueda de mapas</title>
{% endblock %}

{% block titular %}
<p class="font-serif text-5xl">Búsqueda de mapas</p>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <h3 class="description"></h3>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="/busqueda/mapas_fotos">
            <i class="nc-icon nc-bank"></i>
            <p>Mapas y fotografías</p>
          </a>
        </li>
        <li>
          <a href="/busqueda/datos">
            <i class="nc-icon nc-diamond"></i>
            <p>Datos y gráficos</p>
          </a>
        </li>
      </ul>
    </div>
</div>
{% endblock %}