{% extends 'portada/base.html.twig' %}

{% block title %}<title>Mi Perfil</title>{% endblock %}

{% block main_container %}
<div id="perfil" class="">
    <p class="text-2xl">{{ nombrecompleto }}</p>
    <p class="">Alias: {{ nick }} </p>
    <p>Role: {{role.rango}} </p>
    <textarea>Un poco sobre mí: </textarea>
    <p>Última actividad</p>
</div>
{% endblock %}
